body {
    font-family: 'Proza Libre', sans-serif;
    color: rgb(32, 31, 31);
    padding: 20px 150px;
  }

/* HEADER */
  
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
#logo {
    align-self: flex-start;
  }

  /*
.navigation-items {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 50px;
}

.navigation-item {
    list-style: none;

}

.navigation-item a {
  text-decoration: none;
  color:rgb(32, 31, 31)
}
*/

/*DROPDOWN*/
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown when hovering or clicking on the button */
.dropdown:hover .dropdown-content {
  display: block;
}
/*DROPDOWN ENDS*/



/* Styles for devices with a width of 868px and above (tablets) */
@media screen and (max-width: 868px) {
  body {
    font-family: 'Proza Libre', sans-serif;
    color: rgb(32, 31, 31);
    padding: 20px 40px;
  }
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-items {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 20px;
  }
  
}

/* Styles for devices with a width of 320px and above (phones) */
@media screen and (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-items {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 20px;
  }
}

/* ABOUT ME */

#aboutme {
  margin-top: 40px;
  
}
.aboutme-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.aboutme-text {
  flex: 2.5;
  text-align: justify;
 
}

.aboutme-pic {
  flex: 1;
  margin-left: 15%;
  margin-top: 2%;
  align-self: center;
  justify-self: center;

}

img {
  max-width: 200px;
  border-top: 10px rgb(242, 241, 234) solid;
  border-left: 10px rgb(242, 241, 234) solid;
  border-right: 10px rgb(242, 241, 234) solid;
  border-bottom: 40px rgb(242, 241, 234) solid;

}

* Styles for devices with a width of 320px and above (tablets) */
@media screen and (max-width: 320px) {

.aboutme-pic {
  flex: 1;
  margin-left: 20%;
}
}

/*PROJECTS*/

#projects {
  margin-top: 70px;

}


/*CONTACT*/

#contact {
  margin-top: 70px;
}

/*FOOTER*/

footer {
  text-align: center;
  margin-top: 70px;
}